
header{
    background-color: rgb(1, 17, 12);
    padding: 15px;
    text-align: center;
}
header h1{
    margin: 0;
    color: white;
}
header nav a{
  text-decoration: none;
  margin-left: 60px;
  font-size: larger;
  color:white;
}



nav  a:hover {
    color:rgb(197, 207, 54);

} 
.l{
  margin-right: 50px;
  width: 50%;
  padding-top: 300px;
  font-size: x-large;
}
.about img{
  float: right;
  border-radius: 50%;

}

.card-container{
  margin-top: 350px;
  margin-bottom: 100px;

}
.card-container h1{
  text-align: center;
  font-size: xx-large;

}

.contact{
  margin-top: 50px;
}
.m{
  margin-top: 50px;
}
.h{
  text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


   Fixed/sticky icon bar (vertically aligned 50% from the top of the screen)
.icon-bar {
    /* position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

  }
/*   
  /* Style the icon bar links 
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  } */
  
  /* Style the social media icons with color, if you want 
  .icon-bar a:hover {
    background-color: #000;
  }
   
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }*/
  .icon{
    background-color: black;
    font-size: x-large;
    padding: 90px;
  
  }
  .f{
    border-radius: 50%;
    margin: 40px;
text-align: center;
  }
  .d{
    text-align: right;
  }
  a{
    border-radius: 50%;
text-align: center;
color: white;
  }


  
  
    
